<div id="main-column" class="column span-16 colborder">
  <div id="client-header">
    <%= link_to "Edit this Workout", { :controller => 'workouts', :action => 'edit', :id => @id }, :class => "right" %>
    <h2 class="nil-bottom-margin"><%= @id %></h2>
    <p>Circuit Training - 45 minutes - Intense. This workout is shared.</p>
  </div>
  <%= link_to "Edit the instructions", { :controller => 'workouts', :action => 'edit', :id => @id }, :class => "right" %>
  <h3>Instructions</h3>
  <p>
    Are you ready for this workout? If so, follow my directions. First, put your running shoes on. Second, run as fast as you can for 45 minutes. That's it!
  </p>
  <p class="right">
    <%= link_to "Re-order", { :controller => 'workouts', :action => 'edit', :id => @id }, :class => "right" %>&nbsp;&nbsp;
    <%= link_to "Edit the exercises", { :controller => 'workouts', :action => 'edit', :id => @id }, :class => "right" %>
  </p>
  <h3>Exercises</h3>
  <ul class="workout-exercises">
    <li><span></span><a href="#" title="Bench Press">Bench Press</a></li>
    <li><span></span><a href="#" title="Pull Ups">Pull Ups</a></li>
    <li><span></span><a href="#" title="Shoulder Press">Shoulder Press</a></li>
    <li><span></span><a href="#" title="Clean &amp; Jerk">Clean &amp; Jerk</a></li>
    <li><span></span><a href="#" title="Squats">Squats</a></li>
    <li><span></span><a href="#" title="Legs Extensions">Leg Extensions</a></li>
    <li><span></span><a href="#" title="Sit-ups">Sit-ups</a></li>
  </ul>


</div>

<div id="secondary-column" class="column span-7 last">
  <%= link_to 'View All', { :controller => 'workouts', :action => 'clients', :id => @id }, :class => 'right' %>
  <h3>Clients using this workout</h3>
  <ul>
    <li><%= link_to 'James Gibson', { :controller => 'clients', :action => 'show', :id => 'james-gibson' } %></li>
    <li><%= link_to 'Gina Gibson', { :controller => 'clients', :action => 'show', :id => 'gina-gibson' } %></li>
    <li><%= link_to 'Billy Bob', { :controller => 'clients', :action => 'show', :id => 'billy-bob' } %></li>
    <li><%= link_to 'Yo Mama', { :controller => 'clients', :action => 'show', :id => 'yo-mama' } %></li>
    <li><%= link_to '22 more...', { :controller => 'recipes', :action => 'clients', :id => @id } %></li>
  </ul>
  <%= link_to 'View All', { :controller => 'workouts', :action => 'comments', :id => @id }, :class => 'right' %>
  <h3>Comments on the workout</h3>
  <ul>
    <li>This workout kicked my ass, thanks for sharing.</li>
  </ul>
</div>